EMBEDDING_PROFILE=compact
EMBEDDING_MODEL_ID=
EMBEDDING_DIMENSIONS=0
EMBEDDING_MAX_TOKENS=0
EMBEDDING_INFERENCE_THREADS=0
EMBEDDING_BATCH_SIZE=0

DASHBOARD_ADMIN_USERNAME=
DASHBOARD_ADMIN_PASSWORD_HASH=
DASHBOARD_SESSION_TIMEOUT_MINUTES=480
DASHBOARD_COMPOSE_PROJECT=contexthub
DASHBOARD_POLLING_OVERVIEW_SECONDS=10
DASHBOARD_POLLING_METRICS_SECONDS=5
DASHBOARD_POLLING_JOBS_SECONDS=8
DASHBOARD_POLLING_LOGS_SECONDS=10
DASHBOARD_POLLING_PERFORMANCE_SECONDS=30
